/*共通部分*/
p {
    word-wrap: break-word;
}

li {
    list-style: none
}

ul {
    padding-left: 0;
}

.error {
    color: red;
}

.success {
    color: green;
}

/*ヘッダー部*/
.header_title:hover {
    text-decoration: none;
    color: #007bff;
}

/*投稿一覧画面*/
.post_list_item {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #f0f7ff;
    border: dashed 3px #5b8bd0;
}

.post_header {
    border-bottom: solid 3px #5b8db0;
}

.recommended_users {
    border: 4px solid #5b8db0;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
    margin: 2em 0;
    padding: 2em;
}

.find_button {
    width: 100px;
}