/*共通部分*/
p {
    word-wrap: break-word;
}

li {
    list-style: none
}

.error {
    color: red;
}

.success {
    color: green
}

/*ヘッダー部*/
.header_title:hover {
    text-decoration: none;
    color: #007bff;
}

/*投稿一覧画面*/
.post_list_item {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #f0f7ff;
    border: dashed 3px #5b8bd0;
}

.post_header {
    border-bottom: solid 3px #5b8db0;
}
